<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ssog.mapper.FoodMapper">
    <select id = "getImgUrl" resultType = "String" parameterType = "String">
        select fdURL from food where fdName = #{food_name}
    </select>
    
    
    <select id = "createViewTop200">
        create view top200 as select * from (select fdName from food where fdDate =SYSDATE order by fdIndex desc) where rownum <![CDATA[ < ]]> 201
    </select>
    
    <select id = "deleteViewTop200">
        drop view top200;
    </select>
    
    <select id = "Top200" resultType = "String">
        select * from top200
    </select>
    
    
    <select id = "Top100Price" resultType ="String">
        select * from (select fdName from food where fdDate =SYSDATE order by fdPriceInd desc) where rownum <![CDATA[ < ]]>101
    </select>
    
    <select id = "Top100Quality" resultType ="String">
        select * from (select fdName from food where fdDate =SYSDATE order by fdQualityInd desc) where rownum <![CDATA[ < ]]> 101
    </select>
    
    
        
    <select id = "season" resultType ="String">
        select fdName from food order by fdSeasonInd desc sample(5)
    </select>
</mapper>