<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ssog.mapper.PriceMapper">
    <select id = "sellerPriceTop10" resultType = "kr.ssog.domain.Price" parameterType = "String">
        select * from (select * from Price where ingreName = #{ingre_name} and priceDate = SYSDATE order by price) where rownum <![CDATA[ < ]]> 11 
    </select>
    
    
    <select id = "sellerQualityTop10" resultType = "kr.ssog.domain.Price" parameterType = "String">
        select * from (select * from Price where ingreName = #{ingre_name} and priceDate = SYSDATE order by priceQuality desc) where rownum <![CDATA[ < ]]> 11 
    </select>
    
	<select id = "sellerQualityNullRandom5" resultType = "kr.ssog.domain.Price" parameterType = "String">
	    select * from Price where fdQualityIndx is null 
	</select>
	
	<select id = "getPrice" resultType = "kr.ssog.domain.Price" parameterType ="String">
	    select * from Price where ingreName = #{ingre_name} and to_char(priceDate, 'YY/MM/DD') = #{date} order by price desc
	</select>
	
	<select id = "getPriceDate" resultType = "String" parameterType = "String">
	    select priceDate from Price group by priceDate where ingreName = #{ingre_name}
	</select>
	




</mapper>