.row{
	/*margin:0;*/
	margin-right:0;
	margin-left:0;
}
#table01{
	margin-bottom:0;
}
.basketdiv {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    float: left;
    font-size: 0.9375em;
    margin-bottom: 20px;
}
    .basketdiv .row.head {
        border-bottom: 2px solid ##e9e9e9;
        box-sizing: border-box;
        background-color: #f4f4f4;
        font-weight: 500;
    }
    .basketdiv .data {
        border-bottom: 4px solid #f8f9fd;;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        width: 100%;
        min-width: 1000px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    padding-left: 20px;
	    height: 150px;
    }
    .basketdiv .data .empty{
        text-align: center;
        padding: 12px 0;
    }
    .basketdiv .row.head .subdiv {
        background-color: #a23f25;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .basketdiv .row.head .font{
    	color : white;
    	font-size : 15px;
    }
    .basketdiv .row > .subdiv {
        display: flex;
	    float: left;
	    align-items: center;
    }
    .basketdiv .row > .subdiv:nth-child(1) {
        width: 35.5%;
    }
    .basketdiv .row > .subdiv:nth-child(2) {
        width: 50%;
    }
    .basketdiv .row > .subdiv:nth-child(3) {
        width: 13%;
        padding-left: 2.5rem;
    }
    .basketdiv2 .row > .subdiv:nth-child(1) {
        width: 60%;
    }
    .basketdiv2 .row > .subdiv:nth-child(2) {
        width: 40%;
    }
    .basketdiv .row > div > div {
        display: block;
        float: left;
        text-align: center;
        margin: 0;
    }
    .basketdiv .row.data > div > div {
        height: 80px;
        line-height: 80px;
        display: inline-flex;
	    flex-direction: column;
	    justify-content: center;
	    /*align-items: center;*/
	    flex-wrap: wrap;
    }
    .basketdiv .row.data > div .basketcmd{
        line-height: 1.5rem;
    
    }
        .basketdiv .data .num .updown {
            color: #0075ff;
            font-size: 2em;
            letter-spacing: -5px;
            color : #a23f25;
            display: flex;
    		align-items: center;
        }
        .basketdiv .check {
            width: 10%;
            /*padding-left: 0.5rem;*/
        }
    .basketdiv .check input[type=checkbox] {
        transform: scale(1.5);
            color : white;
    }
    .basketdiv .img{
        /*width: 20%;*/
        padding-left: 1.5rem;
    }
    .basketdiv .pname{
        /*width: 40%;*/
    	font-size: 15px;
    }
    .basketdiv .pname>span{
    	display:flex;
    	margin:12px 0px;
    	color: #0c0c0c;
    }
    .basketdiv2 .pname {
        width: 80%;
    }
    .basketdiv .basketprice {
        width: 22%;
    }
    .basketdiv .num {
      width: 47%;
      min-width: 105px;
      padding-left: 4.5rem;
    }
    .basketdiv .sum {
        width: 34%;
      max-width: 80px;
        color: #0c0c0c;
    }
    .basketdiv .point {
        width: 50%;
    }
    .basketdiv2 .basketprice {
        width: 25%;
    }

    .basketdiv2 .num {
        width: 25%;
    }

    .basketdiv2 .sum {
        width: 25%;
        color: #0000aa;
    }

    .basketdiv2 .point {
        width: 25%;
    }
    .basketdiv .basketcmd{
        width: 75px;
    }
    .basketdiv .data .pname {
        text-align: left !important;
      	line-height: 1.2 !important;
      	padding-left: 3rem;
    }
    .basketdiv .data .price, .basketdiv .data .sum, .basketdiv .data .point {
        text-align: right;
    }
    .baseform > tbody > tr > td:first-child {
        width: 100px;
    }

.buttongroup {
    padding: 11px 0;
    margin: 50px 0;
}
.narrowbuttongroup{
    margin: 15px 0;
}
    .buttongroup.center {
        text-align: center;
    }
    .buttongroup input[type=text], .buttongroup input[type=password] {
        height: 30px;
    }
    .buttongroup button, .buttongroup a {
        margin-right: 5px;
    }
        .buttongroup button:last-child, .buttongroup a:last-child {
            margin-right: 0;
        }

    .abutton, .abutton:link, .abutton:visited, .abutton:active, input[type=button] {
        background-color: #b7472a;
        color: #ffffff;
        cursor: pointer;
        letter-spacing: -1px;
        padding: 5px 7px;
        margin: 2px 3px;
        /*width: auto;*/
        word-break: keep-all;
        border-radius: 5px;
        text-decoration: none;
        font-size: 0.9375em;
    }

.abutton-alt {
    background-color: #d3e2c6;
}

.red {
    color:#b00;
}
.blue {
  color: #0075ff;
}
.basketrowcmd, .sumcount, .summoney{
  text-align: right;
  margin-bottom: 10px;
}
.sumcount, .summoney{
  font-size: 1.25em;
  color: #0c0c0c;
}
.buttongroup{
  text-align: center;
}
.buttongroup a{
  text-decoration: none;
}
.cmd a, .cmd span {
    padding: 12px 30px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1.2em;
    color: #000;
    background-color: #f4f4f4;
    border: 1px solid #e0e0e0;
    text-align: center;
}
.cmd.small a, .cmd.small span {
    padding: 6px 20px;
    font-size: 0.8125em;
}

.orderform .p_num {
    text-align: right;
    width: 2rem;
    font-size: 15px;
    height: 2rem;
}
#delBtn{
	background-color:white;
	align:center;
	display:inline-block;
}
#delBtn>a{
	height: 35px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
    input[type="checkbox"] {
        -webkit-appearance: none;
        position: relative;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none !important;
        border: 1px solid #eeeeee;
        border-radius: 2px;
        background: #fbfbfb;
    }
 
    input[type="checkbox"]::before {
        content: "\2713";
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        transform: scale(0) translate(-50%, -50%);
        line-height: 1;
    }
 
    input[type="checkbox"]:hover {
        border-color: rgba(170, 170, 170, 0.5);
    }
 
    input[type="checkbox"]:checked {
        background-color: #a23f25;
        border-color: rgba(255, 255, 255, 0.3);
        color: white;
    }
 
    input[type="checkbox"]:checked::before {
        border-radius: 2px;
        transform: scale(1) translate(-50%, -50%)
    }
    
    /*모달창 부분 CSS*/
    .inner{
    	max-width:700px;
    }
    #table02{
    	min-width:700px !important;
		margin-bottom:0;
		
	}
    #data{
    	min-width:700px;
    
    }
	.overflow-y{
		overflow-x:hidden !important;
		overflow-y:scroll;
		height:500px;
	}
    #outer {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    #outer .inner {
        position: absolute;
        background-color: #fefefe;
        min-width:500px;
        width: 25%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #outer .inner .title {
        width: 100%;
        height: 70px;
        line-height: 70px;
        text-align: left;
    }
 
    #outer .inner .title span {
        padding-left: 30px;
        font-size: 20px;
    }
    #outer .inner .btn_close {
        position: absolute;
        right: 20px;
        top: 8px;
        font-size: 35px;
        font-weight: bold;
        z-index: 100;
        opacity: 0.7;
    }
    #outer .inner .btn_close:hover,
    #outer .inner .btn_close:focus {
        opacity: 1;
        cursor: pointer;
    }
    #modalCon{
    	width:50%;
    }
    #modalPname{
    	padding-left:45px;
    	padding-right:45px;
    }
    #modalPname>span{
    	text-align:center;
    }
    #modalPrice{
    	padding-left:0;
    }
    
    
    
    
    
    
    
    
    