<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="resources/img/favicon.ico">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>물가정보</title>
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />
<link href="resources/css/styles3.css" rel="stylesheet" />
<!-- <script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
	crossorigin="anonymous"></script> -->

    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="resources/css/animate.css">
    <link rel="stylesheet" href="resources/css/owl.carousel.min.css">
    <link rel="stylesheet" href="resources/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="resources/css/magnific-popup.css">
    <link rel="stylesheet" href="resources/css/flaticon.css">
    <link rel="stylesheet" href="resources/css/style.css">
<style>

.button {
	border-right: 1px solid rgb(183, 71, 41, 0.3) !important;
	border-bottom: 1px solid rgb(183, 71, 41, 0.3) !important;
	box-sizing:border-box;
	margin-left: -1px;
}

.button-bottom-none {
	border-right: 1px solid rgb(183, 71, 41, 0.3) !important;
	box-sizing:border-box;
	margin-left: -1px;
}

.button-right-none {
	border-bottom: 1px solid rgb(183, 71, 41, 0.3) !important;
	box-sizing: border-box;
	box-sizing:border-box;
	margin-left: -1px;
}

.button-bottom-right-none {
	margin-left: -1px;
}

#btn-group button {
	background-color: rgba(0,0,0,0);
	color: #b7472a; 
	padding: 5px;
	width: 19.83%;
	border: 0;
	outline: none;
  	box-shadow: none;
}

#btn-group {
	border: 1px solid rgb(183, 71, 41);
	border-radius: 4px;
	margin-bottom: 64px;
}


#btn-group button:hover{
	color: white;
	background-color: #b7472a;
}

.card {
	border: 0px;
}

#container {
	padding-top: 96px;
	padding-bottom: 96px;
}
#center2{
	margin-left:280px;
}

img {
	width: 100%;
	height: 100%;
}

table, td {
	margin: 0px;
	padding: 0px;
	border-collapse:collapse;
}

</style>

</head>



<!-- Navbar Brand-->

<!-- Sidebar Toggle-->

<!-- Navbar Search-->

<!-- Navbar-->
<body>

	<th:block th:include="includes/header :: header"></th:block>
	
	<section class="hero-wrap hero-wrap-2"
		style="background-image: url('resources/images/bg_2.jpg');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate mb-5 text-center">
					<p class="breadcrumbs mb-0">
						<span class="mr-2"><a href="index.do">Home <i
							  class="fa fa-chevron-right"></i></a></span> <span>물가 정보</span>
					</p>
					<h2 class="mb-0 bread">물가 정보</h2>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div id="layoutSidenav">

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4" id="container">
						<h1 class="mt-4" align="center"></h1>



						<div id="btn-group">
								<button class="button" onclick="loadList('유기농')">유기농/친환경 전문관</button>
								<button class="button" onclick="loadList('과일')">과일</button>
								<button class="button" onclick="loadList('견과')">견과/건과</button>
								<button class="button" onclick="loadList('채소')">채소</button>
								<button class="button-right-none" onclick="loadList('쌀')">쌀/잡곡</button>
								<button class="button" onclick="loadList('축산')">축산/계란</button>
								<button class="button" onclick="loadList('수산물')">수산물/건어물</button>
								<button class="button" onclick="loadList('생수')">생수/음료</button>
								<button class="button" onclick="loadList('커피')">커피/원두/차</button>
								<button class="button-right-none" onclick="loadList('과자')">과자/초콜릿/시리얼</button>
								<button class="button-bottom-none" onclick="loadList('면')">면/통조림/가공식품</button>								
								<button class="button-bottom-none" onclick="loadList('가루')">가루/조미료/오일</button>								
								<button class="button-bottom-none" onclick="loadList('장')">장/소스/드레싱/식초</button>								
								<button class="button-bottom-none" onclick="loadList('유제품')">유제품/아이스크림</button>								
								<button class="button-bottom-right-none" onclick="loadList('냉장')">냉장/냉동/간편요리</button>								
						</div>




						<div class="row">
							<div class="col-xl-6">
								<div class="card mb-4">
									<div class="card-header">
										<i class="fas fa-chart-area me-1"></i> 이달의 물가
									</div>
									<div class="card-body">
										<canvas id="myAreaChart" width="100%" height="40"></canvas>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card mb-4">
									<div class="card-header">
										<i class="fas fa-chart-bar me-1"></i> 월별 물가
									</div>
									<div class="card-body">
										<canvas id="myBarChart" width="100%" height="40"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-table me-1"></i> DataTable Example
							</div>
							<div class="card-body">
								<table id="datatablesSimple" class="table-expandable">
									<thead>
										<tr>
											<th style="width:6%;">순위</th>
											<!--<th>분류</th>-->
											<th>품목</th>
											<th>가격</th>
											<th>품질</th>
										</tr>
									</thead>
									
									<tbody id="priceInfo">
										<!-- <tr th:each="num: ${#numbers.sequence(1,60)}">
											<td>2</td>
											<td>닭고기</td>
											<td>1000~10000</td>
											<td>1.5</td>
										</tr> -->
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</main>

			</div>
		</div>
	</div>

	<th:block th:include="includes/footer :: footer"></th:block>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="resources/js/scripts.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>
	<script src="resources/assets/demo/chart-area-demo.js"></script>
	<script src="resources/assets/demo/chart-bar-demo.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
		crossorigin="anonymous"></script>
	<script src="resources/js/datatables-simple-demo.js"></script>
	


  <script src="resources/js/jquery.min.js"></script>
  <script src="resources/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="resources/js/popper.min.js"></script>
  <script src="resources/js/bootstrap.min.js"></script>
  <script src="resources/js/jquery.easing.1.3.js"></script>
  <script src="resources/js/jquery.waypoints.min.js"></script>
  <script src="resources/js/jquery.stellar.min.js"></script>
  <script src="resources/js/owl.carousel.min.js"></script>
  <script src="resources/js/jquery.magnific-popup.min.js"></script>
  <script src="resources/js/jquery.animateNumber.min.js"></script>
  <script src="resources/js/scrollax.min.js"></script>
  <script src="resources/js/main.js"></script>
  <script type="text/javascript" th:inline="javascript">
	$(document).ready(()=>{
		loadList('수산물');
		
	})
	 
	function expend_table() {
	        $('.table-expandable').each(function () {
	            var table = $(this);
	            //table.children('thead').children('tr').append('<th></th>');
	            table.children('tbody').children('tr').filter(':odd').hide();
	            table.children('tbody').children('tr').filter(':even').click(function () {
	                var element = $(this);
	                element.next('tr').toggle("fast");
	                
	            });
	        });
	        $('th').css({width: ""})
	        //$('th') 4가지 요소 가져옴. 단 [0]이나 .get(0)을 할경우 html element요소로 분류가 되어 jquery문법이 더 이상 적용되지 않음
	        // jqeury문법을 계속 사용하기 위해 인덱싱 방법을 .eq(index)를 통해 사용
	        $('th').eq(0).css({width:'10%'});
	        $('th').eq(1).css({width:'30%'});
	        $('th').eq(2).css({width:'30%'});
	        $('th').eq(3).css({width:'30%'});
	}
    function loadList(ingre){
    	// Controller에게 데이터 리스트를 요청하기
    	$.ajax({
    		url : "categori", //>>요청>>받는 데이터는(json)
    		type : "get",
    		data : {"ingre":ingre},
    		dataType : "json", // [{  },{  },{  }]
    		success :resultHtml, 
    		error : function(){ alert("error"); }
    	});
    }
loadList("");
    function resultHtml(ingrelist){
    	let view = "";
    	console.log(ingrelist)
    		for(let i = 0; i < ingrelist['categori'].length; i++){
    			view += "<tr>";
    			view += `<td>${ingrelist['categori'][i]["ingreSeq"]}</td>`;
    			view += `<td onclick="area_data('${ingrelist['categori'][i]["ingreName"]}')">${ingrelist['categori'][i]["ingreName"]}</td>`;
    			view += `<td>${ingrelist['list'][i]}</td>`;
    			view += `<td>${ingrelist['categori'][i]["ingreQualityInd"]}</td>`;
    			view += "</tr>";
    			view += `<tr>
    		        <td></td>
    		        <td id = "td-img">
    		        	<img src=${ingrelist['categori'][i]["ingreImg"]}.jpg>
    		        </td>
    		        <td colspan="2">
    		            <!-- <a href=${ingrelist['categori'][i]["fdURL"]}>쿠팡</a><br> -->
    		            <!-- <a href=${ingrelist['categori'][i]["fdURL"]}>마켓컬리</a><br> -->
		                
    		        </td>
    		      </tr>`;
    		}
    		
    	
    	$("#priceInfo").html(view);
    	expend_table();
    	
    }
    
    </script>


     <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-
="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

</body>
</html>
